body {
    display: flex;
    justify-content: center;
    background-color: rgb(125, 175, 0);
    align-items: center;
    color: rgb(35, 46, 7);
}

#menuStart {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(205, 226, 23);
    padding: 100px;
    border-radius: 10px;
    color: darkgreen;

}

.h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(255, 110, 5);
}

.h3 {
    text-align: center;
    font-size: x-large;
    color: rgb(255, 110, 5);
}


#petWrapper {
    border: solid 5px darkgreen;
    display: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: green;


    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(205, 226, 23);
    padding: 100px;
    color: darkgreen; */

}

.dinoImageDisplay {
    display: none;
    max-width: 450px;
    
}

#petImage {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#statusMessage {
    border: solid 3px darkgreen;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.statName{
    color: black;
}

.statBar {
   background: red;
   border: solid black;
}

.icon {
    width: 20px;
    background-color: gray;
}

#statWrapper {
    width: 100%;
    background-color: grey;
}

.btn{
    background-color: rgb(100, 100, 255);
}

#createButton {
    background-color: rgb(100, 100, 255);
    width: 90px;
    height: 60px;
    font-size: large;
}

#createButton:hover {
    background-color:  rgb(75, 75, 250);
}

#runAway {
    display: none;
}

#runAwayFromMet {
    font-size: xx-large;

    animation: 2s anim-popoutin ease infinite;
    }
      
    @keyframes anim-popoutin {
        0% {
          color: black;
          transform: scale(0);
          opacity: 0;
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        25% {
          color: red;
          transform: scale(2);
          opacity: 1;
          text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
        }
        50% {
          color: black;
          transform: scale(1);
          opacity: 1;
          text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          /* animate nothing to add pause at the end of animation */
          transform: scale(1);
          opacity: 1;
          text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }
      }
      
    .fromtop {
        animation: 2s anim-fromtop linear infinite;
      }
      @keyframes anim-fromtop {
        0% { opacity: 0; transform: translateY(-100%);}
        25% { opacity: 1; transform: translateY(0%);}
        50% {
        }
        100% {
        }
      }
    

#dinoPic {
    max-width: 600px;
}

#petName {
    padding: 0 20px;
    font-size: 50px;
    color: rgb(141, 77, 0);
}

